src/praisonai/agents_n8n.json
{
  "id": "e022a3a1",
  "name": "Create Movie Script About Cat in Mars",
  "nodes": [
    {
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "dd7cf5cb72d19eae",
      "parameters": {
        "path": "create-movie-script-about-cat-in-mars",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "agent_0",
      "name": "Researcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8005/agents/researcher",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.body?.query || $json.query || 'Research about Mars environment and cat behavior for the movie concept' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "notes": "Agent: Researcher\nTask: Research about Mars environment and cat behavior for the movie concept"
    },
    {
      "id": "agent_1",
      "name": "Narrative Designer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8005/agents/narrative_designer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.response || 'Create story concept based on research: previous_output' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "notes": "Agent: Narrative Designer\nTask: Create story concept based on research: {{previous_output}}"
    },
    {
      "id": "agent_2",
      "name": "Scriptwriter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8005/agents/scriptwriter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.response || 'Write the final movie script based on the story concept: previous_output' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "notes": "Agent: Scriptwriter\nTask: Write the final movie script based on the story concept: {{previous_output}}"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Researcher": {
      "main": [
        [
          {
            "node": "Narrative Designer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Narrative Designer": {
      "main": [
        [
          {
            "node": "Scriptwriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "pinData": {},
  "meta": {
    "instanceId": "praisonai-export",
    "templateCredsSetupCompleted": true,
    "description": "A sequential workflow to research, design narrative, and write a movie script"
  },
  "tags": []
}